*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Inter',sans-serif;
  background:#efebe3;
  color:#111;
}


.page-wrapper{
  width:100%;
  overflow:hidden;
}


/* NAVBAR */

.navbar{
  width:96%;

  margin:14px auto 0;

  height:88px;

  background:#f9f6f0;

  border-radius:28px;

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:0 34px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.03);
}

.logo img{
  height:58px;
  object-fit:contain;
}

nav{
  display:flex;
  align-items:center;
  gap:34px;
}

nav a{
  text-decoration:none;
  color:#1f1f1f;

  font-size:15px;
  font-weight:600;

  display:flex;
  align-items:center;
  gap:8px;
}

nav i{
  font-size:12px;
}

.nav-icons{
  display:flex;
  align-items:center;
  gap:22px;
}

.nav-icons i{
}
