*{
}

/* RESPONSIVE */

@media(max-width:1200px){

  .hero{
    grid-template-columns:1fr;
    gap:40px;
  }

  .products-grid{
    grid-template-columns:repeat(2,1fr);
  }

}

@media(max-width:780px){

  .navbar{
    flex-direction:column;
    height:auto;
    padding:25px;
    gap:20px;
  }

  nav{
    flex-wrap:wrap;
    justify-content:center;
  }

  .hero{
    padding:35px 25px;
  }

  .hero-left h1{
    font-size:52px;
  }

  .hero-image-box{
    width:100%;
    height:420px;
  }

  .products-grid{
    grid-template-columns:1fr;
  }

  .features{
    grid-template-columns:1fr;
    gap:25px;
  }

  .divider{
    display:none;
  }

  .footer-grid{
    grid-template-columns:1fr;
  }

  .cart-panel{
    width:92%;
    right:4%;
  }

}
